@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

body{
    font-family: 'Edu NSW ACT Foundation', cursive;
}

img{
    width: 250px;
}

audio{
    width: 100%;
}

.header{

    margin-top: 100px;
}

h1{
    text-shadow: 5px 3px 5px grey;
}